$tablet-width: 769px;
$desktop-width: 920px;
$large-desktop-width: 1441px;

$mobile-max-width: 425px;
$mobile-small-max-width: 375px;


@mixin mobile {
  @media (max-width: #{$mobile-max-width}) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: #{$mobile-small-max-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
